<h1>Help</h1>
<div class="body"><p>1 I'll take help wherever I can find it | this may be of help to you: assistance, aid, a helping hand, support, succor, advice, guidance; benefit, use, advantage, service, comfort; informal a shot in the arm.</p>
<p>2 he sought help for his eczema: relief, alleviation, improvement, assuagement, healing; a remedy, a cure, a restorative.
</p>
<p>3 they treated the help badly: domestic worker, domestic servant, cleaner, cleaning lady, housekeeper, maid, hired help, helper.
</p>
</div>
