
<h1>Plebe Home Page</h1>
	<p>
      CODENAME: Plebe</a>
      sample application.
    </p>

<%= image_tag("spinning_record.gif", :alt => "Spin Baby Spin", :class => "splashimage" )%>

<%= link_to "Sign up now", "#", :class => "signup_button round" %>
