
<p>
 CODENAME: Plebe
 plebe |plēb| noun
a newly entered cadet or freshman, esp. at a military academy.
The plebs was the general body of free landowning Roman citizens (as distinguished from slaves) in Ancient Rome. They were distinct from the higher order of the patricians. A member of the plebs was known as a plebeian ( /plɪˈbiːən/; Latin: plebeius). This term is used today to refer to one who is or appears to be of the middle or lower order; however, in Rome plebeians could become quite wealthy and influential.
</p>

<%= image_tag("spinning_record.gif", :alt => "Spin Baby Spin", :class => "splashimage" )%>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
